body {
  text-align: center;
}

.logo img {
  margin-top: 50px;
  width: 250px;
}

h1 {
  color: #af1b5d;
  font-weight: bold;
  font-size: 60px;
margin-top: 0px;
margin-bottom:0px;
}

h2 {
  color: #ff8cb7;
  margin-top: 0px;
  font-size: 23px;
  margin: 0;
}

button {
  font-size: 40px;
  padding: 10px 70px;
  cursor: pointer;
  margin-top: 80px;
  background-color: #af1b5d;
  color: white;
  border: none;
  border-radius: 35px;
}
