*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: center;
}

body{
    width: 100%;
}
.user{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.user .profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user h1{
    font-size: 50px;
    color: #af1b5d;
}

.container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px; 
}
.progress_circular{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient( #af1b5d 0deg, #ff8cb7 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress_circular::after{
    position: absolute;
    content: '';
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: white;
}
.value{
    font-size: 60px;
    font-weight: 600;
    color: #af1b5d;
    z-index: 9;
}

.text{
    font-size: 40px;
    font-weight: 600;
    color: #af1b5d;
    margin-top: 10px;
    margin-bottom: 5px;
}

.dht11 h1{
    font-size: 30px;
    margin-bottom: 8px;
    color: #af1b5d;
}

.schedule button {
    font-size: 40px;
    padding: 10px 80px;
    margin-top: 20px;
    background-color: #af1b5d;
    color: white;
    border: none;
    border-radius: 30px;
    transition: transform 2s;
}
.schedule button:active {
    transform: scale(3);
}

.feed button {
    font-size: 40px;
    padding: 10px 120px;
    margin-top: 40px;
    background-color: #af1b5d;
    color: white;
    border: none;
    border-radius: 30px;
    transition: transform 2s;
}

.feed button:active {
    transform: scale(3);
}